const SUPABASE_URL="https://ukxxmxnubxjezkwbbxdr.supabase.co";

const SUPABASE_KEY="sb_publishable_2IFHfms3ombozpvZCvaeEg_2VZ2z5hJ";


const client = supabase.createClient(
SUPABASE_URL,
SUPABASE_KEY
);


async function loadProducts(){

let {data,error}=await client
.from("products")
.select("*");


console.log(data);

}


loadProducts();
<style>

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Microsoft YaHei";
}

body{
background:#f8f3ea;
color:#333;
}


/* 顶部 */

header{

background:#160b05;
color:white;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:30px;

font-weight:bold;

color:#d4af37;

}


nav a{

color:white;

text-decoration:none;

margin:15px;

}



.cart{

background:#d4af37;

color:#000;

padding:8px 18px;

border-radius:20px;

}



/* 首页大图 */

.banner{

height:450px;

background:

linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),

url("https://images.unsplash.com/photo-1598301257982-0cf014dabbcd");


background-size:cover;

background-position:center;


display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}



.banner h1{

font-size:60px;

}


.banner p{

font-size:24px;

margin:20px;

}



.btn{

display:inline-block;

background:#d4af37;

padding:12px 35px;

border-radius:30px;

color:#000;

text-decoration:none;

}





/* 商品 */

.title{

text-align:center;

padding:50px 0 20px;

font-size:35px;

}



.products{

padding:30px 8%;

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(240px,1fr));

gap:30px;

}




.card{

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 20px #ddd;

}



.card img{

width:100%;

height:300px;

object-fit:cover;

}




.card h3{

padding:15px;

font-size:22px;

}



.desc{

padding:0 15px;

color:#777;

}



.price{

padding:15px;

font-size:25px;

font-weight:bold;

color:#b8860b;

}



button{

margin:0 15px 20px;

width:calc(100% - 30px);

padding:12px;

border:none;

border-radius:25px;

background:#160b05;

color:white;

}





/* 品牌介绍 */


.brand{

background:#160b05;

color:white;

padding:50px 10%;

text-align:center;

line-height:2;

}




footer{

background:#000;

color:white;

text-align:center;

padding:20px;

}




@media(max-width:700px){

header{

flex-direction:column;

gap:15px;

}


.banner h1{

font-size:38px;

}
<style>

body{
    margin:0;
    background:#f8f3ea;
    font-family:"Microsoft YaHei";
}


.container{

width:80%;
margin:50px auto;

background:white;

padding:30px;

border-radius:15px;

display:flex;

gap:40px;

}


img{

width:350px;

height:400px;

object-fit:cover;

border-radius:10px;

}


h1{

font-size:35px;

}


.price{

color:#b8860b;

font-size:30px;

font-weight:bold;

}


button{

background:#160b05;

color:white;

border:none;

padding:15px 50px;

border-radius:30px;

font-size:18px;

}


@media(max-width:700px){

.container{

flex-direction:column;

}

img{

width:100%;

}

}

</style>


}

</style>
